header {
  color: $header-Font-Color;
  height: 112px;
  line-height: 110px;
  vertical-align: middle;
  position: fixed;
  z-index: 100;
  width: 100%;

  // .scroll-bg {
  //   background-color: pink;
  // }

  .logo {
    float: left;
  }

  nav {
    float: right;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 85%;

    ul {
      list-style: none;
      margin-bottom: 0;

      li {
        display: inline-block;
        padding-right: 20px;

        a {
          color: $header-Font-Color;
          transition: all 0.3s ease-in;
        }

        a:hover,
        a:focus {
          color: $primary-Color;
          text-decoration: none;
        }
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }
}
