/* ----------------------------------------- */
/* GLOBAL SETTINGS */
/* ----------------------------------------- */




/* -- Global Reset -- */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


body {
  background: #fff;
  color: #333;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300; /* Default font-weight */
  font-size: 20px; /* Base font-size */

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  a:focus {outline: none;}

  // height: 3000px;

  // .owl-page span {
  //   background-color: #2d82d8;
  // }

}


.clearfix {zoom: 1}
.clearfix:after {
   content: ".";
   clear: both;
   display: block;
   height: 0;
   visibility: hidden;
}
