body {
  border-radius: 50%;
  transform: translateX(12px);
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: brown;
  font-size: 2.5rem;
}

h1:hover {
  transition: color 1.1s ease;
}

p span {
  font-style: italic;
  color: purple;
}
