body {
  // display: flex;
  border-radius: 50%;
  transform: translateX(12px);
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: $fontColor;
  font-size: 2.9rem;
  padding-bottom: 20px;
}

h1:hover {
  transition: color 1.1s ease;
}

p {
  margin-bottom: 20px;
  span {
    font-style: italic;
    color: teal;
    line-height: 1.7rem;
    font-size: 110%;
  }
}
