body {
  // display: flex;
  border-radius: 50%;
  transform: translateX(12px);

<<<<<<< HEAD

=======
  .susy-test {
    @include span(2);
  }
>>>>>>> build-task

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: $fontColor;
    font-size: 3.9rem;
    padding-bottom: 15px;
  
  }

  h1:hover {
    transition: color 1.1s ease;
  }

  p {
    margin-bottom: 20px;
    span {
      font-style: italic;
      color: magenta;
      line-height: 1.7rem;
      font-size: 110%;
    }
  }

  p.para {
    color: $paraColor;
    font-style: italic;
    font-size: 130%;
    line-height: 2rem;
  }

}
